body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: cursive;
}

canvas {
  height: 300px;
  width: 700px;
  background-color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
  .container div {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 700px) {
  .container div {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 500px) {
  .container div {
    transform: scale(0.4);
  }
}

aside {
  width: 300px;
  height: 600px;
  background-color: rgb(63, 63, 63);
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  color: lightblue;
}

/* Style for the navigation bar */
nav {
  height: 70px;
  background-color: grey;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 20px;
}

nav li {
  list-style: none;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav li a:hover {
  color: lightgrey;
}

footer {
  width: 100%;
  height: 130px;
  background-color: grey;
  margin-top: 73px;
}
h1 {
  font-family: cursive;
  font-size: 30px;
  text-align: left;
}
.temp {
  font-family: cursive;
  font-size: 100px;
  text-align: left;
}

.weatherIcon {
  width: 100%;
  height: 150px;
  border: black 5px;
}

#cityName {
  font-size: 40px;
  font-family: cursive;
  color: grey;
}

#temp {
  font-size: 60px;
  font-family: cursive;
  font-weight: bold;
}

#weatherDesc {
  font-size: 20px;
  font-family: cursive;
}
